<div class="container">
   <div class="row">
      <div class="col-md-12 col-sm-10">
         <h1 class="titleMain">Carreras</h1>
      </div>
   </div>
   <div class="row backdiv">
      <div class="col-md-12 col-sm-12">
         <form>
            <div class="form-row">
               <div class="form-group col-md-3">
                   <label>Código</label>
                   <input  name="cursecode" type="text" class="form-control">
               </div>
               <div class="form-group col-md-4">
                   <label>Nombre</label>
                   <input name="cursename" type="text" class="form-control">
               </div>
               <div class="form-group col-md-4" >
                   <label>Descripción</label>
                   <input   name="cursedescription" type="text" class="form-control"> 
               </div>
               <div class="form-group col-md-2" class="espacio">
                  <button class="btn btn-outline-secondary" style="z-index: 4;" (click)="guardarMobile()"><i class="fas fa-archive"></i>  Enviar</button>
               </div>
           </div>
         </form>
      </div>
   </div>
   <br>
<div class="table-responsive">
   <table class="table table-hover table-dark">
       <thead class="gradient-color">
         <tr>
           <th scope="col">Codigo</th>
           <th scope="col">Nombre</th>
           <th scope="col">Descripcion</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>IN</td>
           <td>Taller III</td>
           <td>Clase con rama a la informatica</td>
         </tr>
       </tbody>
     </table>
</div>

</div>