<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-10">
      <h1 class="titleMain">Modulo de Familia</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <form (ngSubmit)="onSubmit()">
        <div class="cajita form-row">
          <div class="input-group mb-3 backdiv">
            <input class="form-control" #myInput [(ngModel)]="search" (input)="filtrar()"  name="search" type="text" placeholder="Ingresa preferiblemente el primer nombre y el primero apellido.">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" style="z-index: 0;" type="submit"><i class='fas fa-search' style='font-size:12px; margin-right: 5px;'></i>Buscar</button>
            </div>
          </div>
        </div>
      </form>
        <h2>Personas</h2>
        <hr style="background-color: ivory;">
        <div class="row">
          <div class="col-6" *ngFor='let p of persona'>
            <div class="card mb-3" style="max-width: 540px; min-height: 223px; border-radius: 10px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img style="padding: 25px" src="https://i.pinimg.com/originals/b5/76/e9/b576e9ba4504eb94656d724b003d8b8b.png" class="card-img">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title text">{{p.FirstName + " " + p.SecondName + " " + p.Surname + " " + p.SecondSurname}}</h5>
                    <p class="card-text text-gray"><i class="fa fa-home" style="font-size:16px; color: rgb(158, 158, 158); margin-right: 3px;"></i>
                      {{p.Address.Departament + ", " + p.Address.Municipality}}</p>
                    <p class="card-text text-gray"><i class="fa fa-phone" style="font-size:16px; color: rgb(158, 158, 158); margin-right: 9px;"></i>
                      {{p.telephone.Mobile + ", " + p.telephone.Phone}}</p>
                    <button style="margin-top: 10px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Añadir rol familiar</button>
                    <p class="card-text"><small class="text-muted">Ultima actividad hace 3 minutos</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade"  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text" id="exampleModalLabel">Ingreso de rol familiar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <div class="form-group col-md-8">
              <label class="text" for="inputState">Rol</label>
              <select id="inputState" class="form-control">
                <option disabled>...</option>
                <option class="text">Padre</option>
                <option class="text">Madre</option>
                <option class="text">Encargado</option>
                <option class="text">Hijo</option>
              </select>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label text" for="gridCheck">
                Acepto los cambios que he integrado a mi persona.
              </label>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="message()">Guardar</button>
      </div>
    </div>
  </div>
</div>