/* Imports */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* Navbar */
#sidebar{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: black;
    left: -300px;
    transition: 0.4s;
    z-index: 1;
}

#sidebar.active{
    left: 0;
}

#sidebar ul{
    margin-top: 15px;
}

#sidebar ul li{
    list-style: none;
    font-size: 20px;
    padding: 20px 24px;
}

#sidebar ul li a{
    color: whitesmoke;
    text-decoration: none;
}

#sidebar .toggle-btn{
    position: absolute;
    top: 30px;
    left: 320px;
    padding: 0 10px;
    border-radius: 10px;
}

.logOut{
    position: absolute;
    bottom: 0;
}

.toggle-btn span{
    width: 45px;
    height: 4px;
    background-color: black;
    display: block;
    margin-top: 4px;
}

@media (max-width: 600px) {
    .toggle-btn{
        background-color:whitesmoke;
    }
  }
