<div id="sidebar">
  <div class="toggle-btn" style="margin-top: -10px;" onclick="show()">
    <span style="margin-top: 10px;"></span>
    <span></span>
    <span style="margin-bottom: 10px;"></span>
  </div>
  <ul>
    <li><a routerLink="/inicio">Modulo de Persona</a></li>
    <li><a routerLink="/familia" >Modulo de Familia</a></li>
    <li><a routerLink="/unidadesacademicas">Modulo de Administracion Academica</a></li>
    <li><a href="">Contact Us</a></li>
    <li class="logOut"><a href="">Log out</a></li>
  </ul>
</div>

<nav class="navbar fixed-top navbar-expand" style="height: 80px; background-color: black; z-index:1; position: sticky;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  </div>
</nav>

<router-outlet></router-outlet>
