<div id="sidebar">
  <div class="toggle-btn" style="margin-top: -10px;" onclick="show()">
    <span style="margin-top: 10px;"></span>
    <span></span>
    <span style="margin-bottom: 10px;"></span>
  </div>
  
  <nav class="navbar">
  <ul class="nav sidebar-nav">
      <li><a routerLink="/inicio">Modulo de Persona</a></li>
      <li><a routerLink="/familia">Modulo de Familia</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Modulo de Administracion Academica <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a routerLink="/carreras">Carreras Educativas</a></li>
          <li><a routerLink="/cursos">Cursos</a></li>
          <li><a href="#0">Redes de Estudio</a></li>
          <li><a href="#0">Instructores</a></li>
          <li><a href="#0">Asignación por jornada y sección</a></li>
          <li><a href="#0">Asignación de cursos a red de estudios</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Modulo de Inscripción <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a routerLink="/unidadesacademicas">Asignación de Estudiantes</a></li>
        </ul>
      </li>
      <div class="espacio">
      <li><a routerLink="/home" class="letra">Log out</a></li>
    </div>
  </ul>
</nav>

</div>
<nav class="navbar fixed-top navbar-expand" style="height: 80px; background-color: black; z-index:1; position: sticky;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  </div>
</nav>


<section class="seperator-wrapper" style="position: fixed; z-index: 1;">
    <div class="seperator gradient">
    </div>
  </section>

<router-outlet></router-outlet>