<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-10">
      <h1 class="titleMain">Redes de Estudio</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="cajita">
        <div class="row backdiv">
          <div class="col-md-12 col-sm-12">
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label class="label2">Carrera:</label>
                  <input name="Codigo" type="text" class="form-control">
                </div>
                <div class="form-group col-md-6">
                  <label class="label2">Red de Estudio:</label>
                  <input name="Codigo" type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                  <label class="label2">Inicio del Curso:</label>
                  <input name="Nombre" type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                  <label class="label2">Fin del Curso:</label>
                  <input name="Descripcion" type="text" class="form-control">
                </div>
                <div class="form-group col-md-3" class="espacio">
                  <button class="btn btn-outline-secondary" style="z-index: 4;" type="submit">Registrar ➕</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <h2>Carreras</h2>
      <hr style="background-color: ivory;">
      <div class="table-responsive tableFixHead">
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">Carrera</th>
              <th scope="col">Inicio del Curso</th>
              <th scope="col">Fin del Curso</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let p of persona; let indice = index' (click)="getSeleccionado(indice)" data-toggle="modal"
              data-target="#exampleModal">
              <td>{{p.FirstName + " " + p.SecondName + " " + p.Surname + " " + p.SecondSurname}}</td>
              <td>{{p.Email}}</td>
              <td>{{p.telephone.Mobile}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text" id="exampleModalLabel">Enlaze la carrera y los cursos a esta red de estudio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="modal-body">
        <div class="form-group">
          <div class="col-md-12 col-sm-12">

            <!-- DROPDOWN PARA SELECCIONAR El CURSO DE LA RED -->
            <div class="form-row">
              <label class="text" for="inputState">Curso</label>
              <select class="form-control text" required>
                <option value="" class="text" disabled> ...</option>
                <option class="text">Tecnología</option>
              </select>
            </div><br>

            <!-- DROPDOWN PARA SELECCIONAR LA CARRERA DE ESA RED DE ESTUDIO -->
            <div class="form-row">
              <label class="text" for="inputState">Carrera</label>
              <select id="inputState" class="form-control">
                <option disabled>...</option>
                <option class="text">Informática</option>
              </select>
            </div><br>

            <!-- CHECKBOX PARA GENERAR BOTONES -->
            <div class="form-check">
              <input [(ngModel)]="accion" class="form-check-input" type="checkbox" id="Check2">
              <label class="form-check-label text" for="gridCheck">
                Acepto los cambios que he integrado a esta red de estudio.
              </label>
            </div><br>

            <!-- BOTONES FOOTER DEL MODAL -->
            <div class="modal-footer" *ngIf="accion == true">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="addToFamily()">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>