<div class="container">
  <div class="row">
     <div class="col-md-12 col-sm-10">
        <h1 class="titleMain">Inscripcion</h1>
     </div>
  </div>
  <div class="row backdiv">
     <div class="col-md-12 col-sm-12">
        <form (ngSubmit)="onSubmit()">
           <div class="form-row">
              <div class="form-group col-md-4">
                 <label>Estudiante</label>
                 <!--COMBO BOX-->
                 <select [(ngModel)]="inscription.Estudiante" name="Estudiante" class="form-control">
                  <option value="" class="text" disabled> ...</option>
                     <option *ngFor="let p of personas" class="text" value="{{p.FirstName + ' ' + p.SecondName + ' ' + p.Surname + ' ' + p.SecondSurname}}" >{{p.FirstName + " " + p.SecondName + " " + p.Surname + " " + p.SecondSurname}}</option>
                 </select>
              </div>
              <div class="form-group col-md-4">
                 <label>Unidad Acádemica</label> 
                 <select [(ngModel)]="inscription.UnidadAcademica" name="UnidadAcademica" class="form-control">
                  <option value="" class="text" disabled> ...</option>
                  <option *ngFor="let u of unidades" class="text" value="{{u.Nombre}}" >{{u.Nombre}}</option>
                 </select>
              </div>
              <div class="form-group col-md-4">
                 <label>Cuota</label>
                 <input [(ngModel)]="inscription.Cuota" name="Cuota" type="text" class="form-control">
              </div>
              <div class="form-group col-md-4">
                 <label>Grado</label>
                 <select [(ngModel)]="inscription.Grado" (click)="validarGrado()" name="Grado" class="form-control">
                  <option value="" class="text" disabled> ...</option>
                  <option *ngFor="let g of grados" class="text" value="{{g.Grado}}" >{{g.Grado}}</option>
                 </select>
              </div>
              <div class="form-group col-md-4" id="Carrera" *ngIf="mostrar == true">
                 <label>Carrera</label>
                 <select [(ngModel)]="inscription.Carrera" name="Carrera" class="form-control">
                  <option value="" class="text" disabled> ...</option>
                  <option *ngFor="let c of carreras" class="text" value="{{c.Nombre}}" >{{c.Nombre}}</option>
                 </select>
              </div>
              <!--ESTE SOLO DEBE DE SALIR SIN EN LA UNIDAD ACADEMICA SELECCIONA DIVERSIFICADO-->
               <div class="form-group col-md-4" id="Carrera" *ngIf="mostrar == true">
                  <label>Jornada</label>
                  <!--COMBO BOX-->
                  <select [(ngModel)]="inscription.Jornada" name="Jornada" class="form-control">
                     <option value="" class="text" disabled> ...</option>
                     <option *ngFor="let j of jornadas" class="text" value="{{j.Jornada}}" >{{j.Jornada}}</option>
                  </select>
               </div>
              <div class="form-group col-md-2" class="espacio">
                 <button class="btn  btn-outline-secondary btn-lg" style="z-index: 4; font-size: 16px;" type="submit"><i class="fas fa-archive"
                       style="padding-right: 5px;"></i>Asignar</button>
              </div>
           </div>
        </form>
     </div>
  </div>
  <br>

  <h2>Asignaciones de Cursos</h2>
  <hr style="background-color: ivory;">
  <div class="table-responsive tableFixHead">
     <table class="table table-hover table-dark">
        <thead class="gradient-color">
           <tr>
              <th scope="col">Estudiante</th>
              <th scope="col">Unidad Academica</th>
              <th scope="col">Grado</th>
              <th scope="col">Cuota</th>
           </tr>
        </thead>
        <tbody>
            <tr *ngFor='let i of inscripciones'>
              <td>{{i.Estudiante}}</td>
              <td>{{i.UnidadAcademica}}</td>
              <td>{{i.Grado}}</td>
              <td>{{i.Cuota}}</td>
            </tr>
        </tbody>
     </table>
  </div>

</div>