.container{
    padding-top: 50px;
    padding-bottom: 7%;
    margin: 0 0 0 100px; 
}

.titleMain{
    font-size: 50px;
    margin-bottom: 25px;
    text-align: center;
}

.text{
  color: black;
}

.backdiv{
    padding: 25px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .container{
        padding-top: 75px;
        margin: 0 0 0 0; 
    }
  } 


  .text{
    color: black;
}

.gradient-color{
    background-image: -o-linear-gradient(bottom, rgb(0, 0, 0) 0%, rgb(23, 8, 23) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(0, 0, 0) 0%, rgb(23, 8, 23) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(0, 0, 0) 0%, rgb(23, 8, 23) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(0, 0, 0) 0%, rgb(23, 8, 23) 100%);
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(23, 8, 23) 100%);
} 

.text-gray{
    color: rgb(158, 158, 158);
    margin-bottom: 0px;
}

.titleMain{
    font-size: 50px;
    margin-bottom: 25px;
    text-align: center;
}

.backdiv{
    padding: 25px;
    border-radius: 10px;
}