.container{
    padding-top: 75px;
    padding-bottom: 7%;
    margin: 0 0 0 100px; 
}

.titleMain{
    font-size: 50px;
    margin-bottom: 25px;
    text-align: center;
}

.backdiv{
    padding: 25px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .container{
        padding-top: 75px;
        margin: 0 0 0 0; 
    }
  } 