<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-10">
            <h1 class="titleMain">Registro de estudiante</h1>
        </div>
    </div>
    <label >*Campos obligatorios</label>
                    
    <div class="row backdiv">
        <div class="col-md-12 col-sm-12">
            <form (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="form-group col-sm-12 col-md-6">
                        <label>Primer Nombre*</label>
                        <input [(ngModel)]="person.FirstName" name="FirstName" type="text" class="form-control" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Segundo Nombre*</label>
                        <input [(ngModel)]="person.SecondName" name="SecondName" type="text" class="form-control" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Primer Apellido*</label>
                        <input [(ngModel)]="person.Surname" name="Surname" type="text" class="form-control" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Segundo Apellido*</label>
                        <input [(ngModel)]="person.SecondSurname" name="SecondSurname" type="text" class="form-control" required>
                    </div>
                    <div class="form-group col-md-4" hidden="true" id="apellidocasada">
                        <label>Apellido Casad@</label>
                        <input [(ngModel)]="person.apellidoCasada" name="ApellidaCasada" type="text" class="form-control"> 
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Fecha de nacimiento*</label>
                        <div class="input-group">
                        <input [(ngModel)]="person.Date" name="Date" type="date" class="form-control" placeholder="yyyy-mm-dd" required>
                        </div>
                        <ng-template #footerTemplate>
                            <hr class="my-0">
                            <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d.close()">Close</button>
                        </ng-template>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Religión*</label>
                        <select [(ngModel)]="person.Religion" name="Religion" class="form-control" required>
                            <option class="text">Católicismo</option>
                            <option class="text">Evangelismo</option>
                            <option class="text">Cristianismo</option>
                            <option class="text">Testigo de Jehová</option>
                            <option class="text">Judaísmo</option>
                            <option class="text">Otro</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Genero*</label>
                        <select [(ngModel)]="person.Gender" name="Gender"  class="form-control" required>
                            <option class="text">Masculino</option>
                            <option class="text">Femenino</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Estado Civil*</label>
                        <select class="form-control" [(ngModel)]="person.EstadoCivil" name="EstadoCivil" required>
                            <option class="text">Solter@</option>
                            <option class="text">Casad@</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label>Dirección de correo electrónico*</label>
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <input type="email" [(ngModel)]="email" name="email" class="form-control" aria-describedby="emailHelp" required>
                                    <small id="emailHelp" class="form-text text-muted">Nosotros nunca compartiremos tu dirección de email.</small>
                                </div>
                                <div class="form-group col-md-4">
                                    <button class="btn btn-outline-secondary" style="z-index: 4;" (click)="guardarCorreos()" ><i class='fas fa-address-card' style='font-size:12px; margin-right: 10px;'></i>Agregar correo a la lista</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Correos registrados:</label>
                            <div class="table-responsive">
                                <table class="table">
                                    <tr *ngFor='let c of correosGuardados'>
                                        <th scope="row" class="colorin">{{c}}</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top: -30px;">
                    <label>Direción*</label>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <input [(ngModel)]="person.Departament" name="Departament" type="text" class="form-control" placeholder="Departamento" required>
                        </div>
                        <div class="form-group col-md-3">
                            <input [(ngModel)]="person.Municipality" type="text" class="form-control" name="Municipality" placeholder="Municipio" required>
                        </div>
                        <div class="form-group col-md-3">
                            <input [(ngModel)]="person.Zone" type="text" class="form-control" name="Zone" placeholder="Zona" required>
                        </div>
                        <div class="form-group col-md-3">
                            <input [(ngModel)]="person.Colony" type="text" class="form-control" name="Colony" placeholder="Colonia o residencia" required>
                        </div>
                        <div class="form-group col-md-3">
                            <input [(ngModel)]="person.Avenue" type="text" class="form-control" name="Avenue" placeholder="Avenida" required>
                        </div>
                        <div class="form-group col-md-3">
                            <input [(ngModel)]="person.Street" type="text" class="form-control" name="Street" placeholder="Calle" required>
                        </div>
                        <div class="form-group col-md-3">
                            <input [(ngModel)]="person.Block" type="text" class="form-control" name="Block" placeholder="Manzana o sector"  required>
                        </div>
                        <div class="form-group col-md-3">
                            <input [(ngModel)]="person.HouseNumber" type="text" class="form-control" name="HouseNumber" placeholder="Número de casa" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label >Número de teléfono</label>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <select class="form-control text" required>
                                        <option *ngFor="let c of countries" class="text" value="{{c.name}}">{{"+" + "(" + c.callingCodes[0] +")" + " " + c.name}}</option>         
                                    </select>
                                </div>
                                <div class="form-group col-md-5">
                                    <input [(ngModel)]="mobile" name="mobile" type="number" class="form-control" placeholder="Célular" required>
                                </div>
                                <div class="form-group col-md-2" >
                                    <button class="btn btn-outline-secondary" style="z-index: 4;" (click)="guardarMobile()"><i class="material-icons" style="font-size:20px">add</i><i class="material-icons" style="font-size:20px;">phone_android</i></button>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <select class="form-control text" required>
                                        <option *ngFor="let c of countries" class="text" value="{{c.name}}">{{"+" + "(" + c.callingCodes[0] +")" + " " + c.name}}</option>         
                                    </select>
                                </div>
                                <div class="form-group col-md-5">
                                    <input [(ngModel)]="phone" type="number" class="form-control" name="phone" placeholder="Teléfono de casa" maxlength="8" required>
                                </div>
                                <div class="form-group col-md-2" >
                                    <button class="btn btn-outline-secondary" style="z-index: 4;" (click)="guardarPhone()"><i class="material-icons" style="font-size:20px">add</i><i class="material-icons" style="font-size:20px;">phone</i></button>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <select class="form-control text" required>
                                        <option *ngFor="let c of countries" class="text" value="{{c.name}}">{{"+" + "(" + c.callingCodes[0] +")" + " " + c.name}}</option>         
                                    </select>
                                </div>
                                <div class="form-group col-md-5">
                                    <input [(ngModel)]="other" type="number" class="form-control" name="other" placeholder="Otros" maxlength="8">
                                </div>
                                <div class="form-group col-md-2" >
                                    <button class="btn btn-outline-secondary" style="z-index: 4;" (click)="guardarOther()"><i class="material-icons" style="font-size:20px">add</i><i class="material-icons" style="font-size:20px;">phonelink</i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Números registrados:</label>
                            <div class="table-responsive" style="max-height: 160px">
                                <table class="table">
                                    <tr *ngFor='let n of numerosGuardados'>
                                        <th scope="row" class="colorin">{{n}}</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                    <input [(ngModel)]="hola" class="form-check-input" type="checkbox" id="gridCheck" name="check" >
                    <label class="form-check-label" for="gridCheck">
                        Acepto que toda mi información será confidencial y será usada solamente con usos administrativos.
                    </label>
                    </div>
                </div>
                <p *ngFor="let alert of alerts">
                    <ngb-alert [type]="alert.type" (close)="close(alert)" >{{ alert.message }}</ngb-alert>
                </p>
            <div *ngIf="hola == true">
                <button type="submit" class="bubbly-button" style="z-index: 6;" (click)="message()">Enviar</button>
            </div>
            <div hidden="true" class="alert alert-warning" role="alert" name="alerta">
                Debe aceptar nuestros términos y condiciones para poder continuar.
              </div>
            </form>
        </div>
    </div>
</div>