<div class="container">
  <div class="row">
     <div class="col-md-12 col-sm-10">
        <h1 class="titleMain">Instructores</h1>
     </div>
  </div>
  <div class="row backdiv">
     <div class="col-md-12 col-sm-12">
        <form (ngSubmit)="onSubmit()">
           <div class="form-row"> 
              <div class="form-group col-md-6">
                  <label>Nombre del instructor</label> <!--COMBO BOX-->
                  <select [(ngModel)]="instructor.Instructor" name="Instructor" class="form-control">
                     <option value="" class="text" disabled> ...</option>
                     <option *ngFor="let p of persona" class="text" value="{{p.FirstName}}" >{{p.FirstName + " " + p.SecondName + " " + p.Surname + " " + p.SecondSurname}}</option>
                 </select>
              </div>
              <div class="form-group col-md-4" >
                  <label>Profesión</label>
                  <input [(ngModel)]="instructor.Profesion" name="Profesion" type="text" class="form-control"> 
              </div>
              <div class="form-group col-md-2" class="espacio">
                 <button class="btn btn-outline-secondary" style="z-index: 4;" type="submit"><i class="fas fa-archive"></i>  Enviar</button>
              </div>
          </div>
        </form>
     </div>
  </div>
  <br>

<h2>Instructores</h2>
<hr style="background-color: ivory;">  
<div class="table-responsive tableFixHead">
  <table class="table table-hover table-dark">
      <thead class="gradient-color">
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Nombre</th>
          <th scope="col">Profesión</th>
        </tr>
      </thead>
      <tbody>
         <tr *ngFor='let i of instructores'>
            <td>{{i.Codigo}}</td>
            <td>{{i.Instructor}}</td>
            <td>{{i.Profesion}}</td>
          </tr>
      </tbody>
    </table>
</div>

</div>